/**Google font cdn link*
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: black;
}
/*Custom Scroll bar Css*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 14px;
}

/*Navigation menu css*/
nav{
    position: fixed;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.4s ease;
    height: 100px;
    z-index: 1000;
}
nav.sticky{
    padding: 13px 0;
    background: black
}
nav .navbar{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
}
nav .navbar .logo a,nav.sticky .navbar .logo a:hover{
    font-size: 40px;
    font-weight: 500;
    color: red;
    transition: all 0.3s ease;
}
nav.sticky .navbar .logo a,nav .navbar .logo a:hover{
    color: white;
    transition: all 0.3s ease;
}
nav .navbar .menu{
    display: flex;
}
nav .navbar .menu li{
    margin: 0 8px;
    list-style: none;
}
.navbar .menu li a{
    font-size: 18px;
    font-size: 500;
    color: red;
    transition: all 0.3s ease;
}
.navbar .menu li a:hover{
    color: white;
    background: red;
    border-radius: 6px;
    padding: 2px 3px;
}
nav.sticky .navbar .menu li a{
    color: white;
    font-weight: 500;
    padding: 4px 8px;
    background: red;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: all 0.3s ease;
}
nav.sticky .navbar .menu li a:hover{
    color: red;
    background: white;
    border-color: red;
}
nav .navbar .media-icons a,nav.sticky .navbar .media-icons a:hover{
    font-size: 18px;
    margin: 0 6px;
    color: red;
    transition: all 0.3s ease;
}
nav.sticky .navbar .media-icons a,nav .navbar .media-icons a:hover{
    color: white;
    transition: all 0.3s ease;
}

/*Side Navigetion menu buton*/
nav .menu-btn , .navbar .cancel-btn{
    position: absolute;
    color: white;
    font-size: 20px;
    right: 30px;
    top: 20px;
    cursor: pointer;
}
nav .menu-btn{
    color: red;
    display: none;
    transition: all 0.3s ease;

}
nav .menu-btn:hover{
    color: white;
}
nav .cancel-btn{
    display: none;
}

/*Home Section Css*/
.home{
    min-height: 100vh;
    width: 100%;
    background-image: url('../img/home.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;
    background-attachment: fixed;
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px
}
.home .home-content{
    height: 100%;
    width: 90%;
    background: transparents;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .text .text-one{
    font-size: 25px;
}
.home .text .text-two{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .text .text-three{
    font-size: 40px;
    margin: 5px 0;
}
.home .text .text-four{
    font-size: 23px;
}
.home .button{
    margin: 14px 0;
}
.home .button button{
    outline: none;
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    background: red;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: all 0.4s ease;
}
.home .button button:hover{
    color: red;
    background: transparent;
    border-color: red;
}
button a{
    color: white;
}

/*About Me Section Css*/
.about{
    min-height: 90vh;
    width: 100%;
    background-color: black;
    padding: 0 20px;
}
section .content{
    width: 80%;
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: white;
}
section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
section .title span{
    font-size: 40px;
    font-weight: 600;
    position: relative;
}
section .title span::before,section .title span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: red;
}
section .title span::after{
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
}
.about .about-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .about-details .right{
    width: 45%;
}
.about .about-details .right img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}
.about .about-details .right img:hover{
    box-shadow: 3px 3px 5px red;
}
.about .about-details .left{
    width: 55%;
}
section .topic{
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}
.about-details .left p{
    color: white;
    text-align: justify;
    font-size: 20px;
}
.about .button{
    margin: 14px 0;
    text-align: center;
}
section .button button{
    outline: none;
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    background: red;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: all 0.4s ease;
}
section .button button:hover{
    color: red;
    background: transparent;
    border-color: red;
}

/*My Skills Css*/
.skills{
    background: black;
}
.skills .content{
    padding-left: 40px 0;
}
.skills .skill-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skill-details .left{
    width: 50%;
}
.skill-details .left p{
    color: white;
    text-align: justify;
}
.skill-details .left .experience{
    display: flex;
    align-items: center;
}
.skill-details .left .experience .num-exp{
    font-size: 90px;
    font-weight: 500;
    color: red;
}
.skill-details .left .experience .num-exp:hover{
    color: white;
}
.skill-details .left .experience .exp{
    font-size: 18px;
    font-weight: 500;
}
.skill-details .left .experience .exp:hover{
    color: red;
}
.skills .skill-details .boxes{
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.skills .skill-details .boxes .box{
    width: calc(100% / 2 - 20px);
}
.skill-details .boxes .box .topic{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
.skill-details .boxes .box .topic:hover{
    color: red;
}
.skill-details .boxes .box .num{
    font-size: 60px;
    font-weight: 500;
    color: red;
}
.skill-details .boxes .box .num:hover{
    color: white;
}
/*sous section skills css*/
.sous-section-skills .boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sous-section-skills .boxes .box{
    width: calc(100% / 3 - 20px);
    margin: 20px 0;
    color: white;
    border-radius: 12px;
    box-shadow: 0 5px 10px red;
    text-align: center;
    padding: 20px 10px;
}
.sous-section-skills .boxes .box:hover{
    background: rgba(51, 50, 50, 0.432);
}
.sous-section-skills .boxes .box .icon{
    height: 50px;
    width: 50px;
    color: white;
    background: red;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    transition: all 0.3s ease;
}
.sous-section-skills .boxes .box:hover .icon{
    color: red;
    background: white;
}
.sous-section-skills .boxes .box:hover .topic{
    color: red;
}
.sous-section-skills .boxes .box .icons{
    margin-top: 20px;
}
.sous-section-skills .boxes .box .icons i{
    font-size: 20px;
    margin: 0 10px 10px 10px;
}

/*My Projects Section Css*/
.projects{
    background: black;
}
.projects .boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.projects .boxes .box{
    width: calc(100% / 3 - 20px);
    margin: 20px 0;
    color: white;
    border-radius: 12px;
    box-shadow: 0 5px 10px red;
    text-align: center;
    padding: 20px 10px;
}
.projects .boxes .box:hover{
    background: rgba(51, 50, 50, 0.432);
}
.projects .boxes .box .icon{
    height: 50px;
    width: 50px;
    color: white;
    background: red;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    transition: all 0.3s ease;
}
.projects .boxes .box:hover .icon{
    color: red;
    background: white;
}
.projects .boxes .box:hover .topic{
    color: red;
}

/*Contact Me Css*/
.contact{
    background: black;
    padding: 20px 0;
}
.contact .text{
    text-align: center;
    margin: auto;
    width: 80%;
}
.contact .text p{
    margin-bottom: 20px;
}
.contact .boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact .boxes .box{
    width: calc(100% / 3 - 20px);
    margin: 20px 0;
    color: white;
    border-radius: 12px;
    box-shadow: 0 5px 10px red;
    text-align: center;
    padding: 20px 10px;
}
.contact .boxes .box:hover{
    background: rgba(51, 50, 50, 0.432);
}
.contact .boxes .box .icon{
    height: 50px;
    width: 50px;
    color: white;
    background: red;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    transition: all 0.3s ease;
}
.contact .boxes .box:hover .icon{
    color: red;
    background: white;
}
.contact .boxes .box:hover .topic{
    color: red;
}
.contact .boxes .box ul li{
    list-style: none;
    color: white;
    text-align: justify;
    margin-top: 3px;
    cursor: pointer;
}
.contact .boxes .box:hover ul i{
    color: red;
}
.contact .media-icons{
    text-align: center;
    margin-top: 40px;
}
.contact .media-icons a{
    font-size: 25px;
    margin: 0 6px;
    color: white;
    transition: all 0.3s ease;
}
.contact .media-icons a:hover{
    color: red;
    transition: all 0.3s ease;
}
form input{
    margin-bottom: 10px;
    width: 80%;
    height: 30%;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border-color: red;
    text-align: center;
}
form input:hover{
    box-shadow: 0 2px 2px red;
}

/*Footer Css*/
footer{
    text-align: center;
    background: red;
    color: white;
    padding-left: 15px 0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
footer:hover{
    text-decoration: underline;
}
footer a{
    color: black;
}

/*Scroll To Top Button Css*/
.scroll-btn i{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 12px;
    background: red;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.699);
}





/*Responsive Media Query Css*/
@media (max-width: 1190px){
    .about .content{
        width: 85%;
    }
    .skills .content{
        width: 90%;
    }
    .sous-section-skills .content{
        width: 90%;
    }
    .projects .content{
        width: 90%;
    }
}
@media (max-width: 1090px){
    .about .about-details{
        flex-direction: column;
    }
    .about .about-details .right{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .about .about-details .left{
        width: 90%;
        margin: 40px 0;
    }
    .sous-section-skills .boxes .box,.projects .boxes .box,.contact .boxes .box{
    width: calc(100% / 2 - 20px);
    }
    .contact .text{
        width: 90%;
    }
}
@media (max-width: 971px){
    .about .about-details .right img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 750px) {
    nav .navbar .menu{
        position: absolute;
        left: 100%;
        top: 0;
        height: 100vh;
        width: 100%;
        background: rgba(0, 2, 22, 0.904);
        max-width: 400px; 
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        transition: all 0.5s ease;
    }
    nav .navbar.active .menu{
        left: 0;
    }
    .navbar .menu li a{
        display: block;
        margin: 10px 0;
        font-size: 23px;
        color: red;
    }
    nav .navbar .media-icons a{
        display: none;
    }
    nav .menu-btn,nav .cancel-btn{
        display: block;
    }
    .home .text .text-two{
        font-size: 60px;
    }
    .home .text .text-three{
        font-size: 35px;
    }
    .skill-details .left .experience .num-exp{
        font-size: 80px;
    }
    .skills .skill-details{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .skills .skill-details .left{
        width: 90%;
    }
    .skills .skill-details .boxes{
        width: 90%;
        margin: 40px 0;
    }
    .sous-section-skills .boxes .box,.projects .boxes .box, .contact .boxes .box{
    width: 130%;
    }
    .contact .text{
        width: 100%;
    }
}
@media (max-width: 510px) {
    .home .text .text-two{
        font-size: 55px;
    }
    .home .text .text-three{
        font-size: 35px;
    }
    section .topic{
        font-size: 20px;
    }
    .about-details .left p{
        font-size: 17px;
    }
}
